<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<p>Latest Movie Information</p>

<table style="width:100%">
  <tr>
    <th>Month</th>
    <th>Movie name</th>
  </tr>
  <tr>
    <td>January</td>
    <td>bahuballi</td>
  </tr>
  <tr>
    <td>February</td>
    <td>khadhi</td>
  </tr>
</table>
</body>
</html>